<%= form_for(@monster, url: monster_path(@monster)) do |form| %>

  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @monster.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :attack %>
    <%= form.text_field :attack %>
  </div>
  <div class="field">
    <%= form.label :defense %>
    <%= form.text_field :defense %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>