<%= form_for(@monster, url: monster_path(@monster)) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :attack %>
    <%= form.text_field :attack %>
  </div>
  <div class="field">
    <%= form.label :defense %>
    <%= form.text_field :defense %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>