<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<%= form_for monsters_path do %>

  <input name="name" class="monsters_name" value="<%= @monster.name %>">
  <input name="level" class="monsters_level" value="<%= @monster.level %>">
  <input name="attack" class="monsters_attack" value="<%= @monster.attack %>">
  <input name="defense" class="monsters_defense" value="<%= @monster.defense %>">
  <input type="submit" value="保存">

<% end %>
</body>
</html>