<div class="search-form">
  <%= form_with(url: monsters_path, scope: :search, method: :get, local: true) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :level %>
      <%= f.select :level, options_for_select((Monster::MIN_LEVEL..Monster::MAX_LEVEL).to_a), prompt: '選択してください' %>
    </div>
    <div>
      <%= f.submit :search %>
    </div>
  <% end %>
</div>

<div class="monster-index">
  <% @monsters.each do |monster| %>
    <ul>
      <li><%= link_to(monster.name, "/monsters/#{monster.id}") %> Level.<%= "☆" * monster.level %></li>
    </ul>
  <% end %>
</div>
<%= paginate @monsters %>
