<div class="search-form">
  <p>モンスター名</p>
  <%= form_with(model: @search_params, scope: :search, url: monsters_path, method: :get, local: true) do |f| %>
    <div class="field">
      <%= f.text_field :name, value: @search_params[:name] %>
    </div>

    <div class="field">
      <p>レベル</p>
      <%= f.collection_select(:level, Monster.all, :level, :level, selected: @search_params[:level], include_blank:true) %>
    </div>

    <div class="field">
      <p>攻撃力</p>
      <%= f.text_field :attack_from, value: @search_params[:attack_from] %>
      ~ <%= f.text_field :attack_to, value: @search_params[:attack_from] %>
    </div>

    <div class="field">
      <p>守備力</p>
      <%= f.text_field :defense_from, value: @search_params[:defense_from] %>
      ~ <%= f.text_field :defense_to, value: @search_params[:defense_to] %>
    </div>

    <div class="actions">
      <p>検索</p>
      <%= f.submit(:search) %>
    </div>
  <% end %>
</div>

<div class="monster-index">
  <% @monsters.each do |monster| %>
    <ul>
      <li><%= link_to(monster.name, "/monsters/#{monster.id}") %> Level.<%= "☆" * monster.level %></li>
    </ul>
  <% end %>
<%= paginate @monsters %>
</div>