<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<ul>
  <li><%= @monster.name %></li>
  <li>Level.<%= @monster.level %></li>
  <li>Attack：<%= @monster.attack %></li>
  <li>Defense：<%= @monster.defense %></li>
</ul>
<%= link_to("編集", "/monsters/#{@monster.id}/edit") %>
<%= link_to("削除", "/monsters/#{@monster.id}/destroy", {method: "post"}) %>


</body>
</html>