<%= form_for(@magic, url: magic_path(@magic)) do |form| %>

  <% if @magic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@magic.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @magic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="magic-effect">
    <%= form.label :effect %>
    <%= form.text_area :effect %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>