<p>magic search</p>
<%= form_tag(magics_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<div class="magic-index">
  <% @magics.each do |magic| %>
    <ul>
      <li><%= link_to(magic.name, "/magics/#{magic.id}") %></li>
    </ul>
  <% end %>
</div>
<%= paginate @magics %>