<!DOCTYPE html>
<html>
<head>
  <title>Yugioh3</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <div class="header">
    <div class="header-logo">青眼の白龍デッキ　モンスターのみ</div>
    <div class="header-list">
        <ul>
          <li><%= link_to("新規作成", new_monster_path(@monster)) %></li>
          <li><%= link_to("モンスター一覧", monsters_path(@monster)) %></li>
        </ul>
    </div>
  </div>
</header>
<% if flash[:notice] %>
    
  <div class="alert alert-success">
        <%= flash[:notice] %>
  </div>
<% end %>
<div class="main">
  <%= yield %>
</div>

</body>
</html>