<!DOCTYPE html>
<html>
<head>
  <title>Yugioh3</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <h1>青眼の白龍デッキ　モンスター一覧</h1>
</header>
<% if flash[:notice] %>
    
  <div class="alert alert-success">
        <%= flash[:notice] %>
      
  </div>
<% end %>
<%= yield %>
</body>
</html>